[package]
name = "the-config"
version = "0.1.0"
edition = "2024"

[lib]
path = "src/lib.rs"

[dependencies]
the-config-user = { path = "/Users/misterclayt0n/.config/the-editor", package = "the-config-user" }
